mat-card {
    margin: 0 auto;
    margin-top: 250px;
    width: 240px;
}

.message-area { 
    min-height: 83%;
}

.form-container {
    position: -webkit-sticky;
    position: sticky;
    background-color: #303030;
    bottom: 0;
    align-self: flex-end;
}

.bottom-full-width {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    z-index: 1;
}
