<ng-container *ngIf="roomInput.id==='me';else notMyself">
  <mat-card>
    Choose a room, and start talking!
  </mat-card>
</ng-container>
<ng-template #notMyself>
  <div class="message-area">
    <app-messages (roomSubmit)="setRoom($event)"></app-messages>
  </div>
  <div class="form-container">
    <mat-form-field class="bottom-full-width">
      <input matInput placeholder="Write something!" type="text" [(ngModel)]="chat" (keydown.enter)="submitMessage()">
      <button mat-button matSuffix mat-icon-button aria-label="Send Message" (click)="submitMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>