<div class="background">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-subtitle>Welcome on chat-app! You can {{isLoginActive?"log in":"sign in"}} here!</mat-card-subtitle>
    </mat-card-header>
    <form *ngIf="isLoginActive&&loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="loginForm.controls.email.hasError('required')||loginForm.controls.email.hasError('email')">
          Has to be an email!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type=password autocomplete="true" formControlName="password">
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">
          The password is required
        </mat-error>
      </mat-form-field>
    </form>

    <form *ngIf="!isLoginActive&&registrationForm" [formGroup]="registrationForm" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error
          *ngIf="registrationForm.controls.email.hasError('required')||registrationForm.controls.email.hasError('email')">
          Has to be an email!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="registrationForm.controls.name.hasError('required')">
          Name is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type=password autocomplete="true" formControlName="password">
        <mat-error *ngIf="registrationForm.controls.password.hasError('required')">
          Password is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password Again" type=password autocomplete="true" formControlName="passwordAgain">
        <mat-error *ngIf="registrationForm.controls.passwordAgain.hasError('incorrect')">
          Password again has to match to the password!
        </mat-error>
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button mat-stroked-button (click)="isLoginActive?resetLoginForm():resetRegistrationForm()">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="isLoginActive?loginForm.invalid:registrationForm.invalid"
        (click)="submit()">Submit</button>
    </mat-card-actions>

    <p>{{isLoginActive?"You don't have an account?":"Are you have an account?"}} <span class="link-lookalike"
        (click)="setIsLoginActive()">{{isLoginActive?"Sign in":"Log in"}} here!</span></p>

    <ng-container *ngIf="isLoginActive">
      <p>OR</p>
      <div class="google-button" (click)="loginWithGoogle()">
        <div class="icon-wrapper">
          <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
        </div>
        <p class="button-text"><b>Log in with google</b></p>
      </div>

      <div class="facebook-button" (click)="loginWithFacebook()">
        <div class="icon-wrapper">
          <img class="icon" src="https://image.flaticon.com/icons/png/512/124/124010.png" />
        </div>
        <p class="button-text"><b>Log in with facebook</b></p>
      </div>
    </ng-container>

  </mat-card>
</div>
