<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h4>Rooms</h4>
      <a *ngFor="let room of visibleRooms$ | async" mat-list-item (click)="setRoomToOpen(room)"
        [routerLink]="['/room', room.id]">{{ room.name
        }}</a>
      <h4>Direct Message</h4>
      <a *ngFor="let user of onlineUsers$ | async" mat-list-item
        (click)="setUserForDirectMessage(user); roomToOpen = undefined">{{ user.name }}</a>
      <div class="filler"></div>
      <div class="create-room-div">
        <a class="create-room" mat-list-item (click)="openCreateRoomDialog()">
          <mat-icon>add_circle_outline</mat-icon>create room
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Chat App</span>
      <button class="logout" mat-icon-button type="button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <app-room-body></app-room-body>
  </mat-sidenav-content>
</mat-sidenav-container>