.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-icon {
  margin-right: 8px;
}

h4 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.create-room {
  margin-bottom: 16px;
}

.create-room-div {
  background-color: #424242;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.filler {
  width: 50px;
  height: 60px;
}

.logout {
  position: absolute;
  right: 16px;
}
